# Ignore NetBeans specific files and folders
nbproject/private/
nbbuild/
build/
dist/
nbactions.xml
nb-configuration.xml

# Ignore compiled classes and files
*.class
*.jar
*.war

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE-specific files (other IDEs like IntelliJ/Eclipse)
.idea/
*.iml
.vscode/

# OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows
desktop.ini      # Windows

# Java-specific files
*.out
*.project
*.classpath
pom.xml